/*De tabel voor het klanten- en factuuroverzicht*/
    table {
        margin: 0 auto;
        border: 1px solid #854442;
    }
    th {
        text-align: center;
        font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
        padding:10px;
        margin:5px;
    }

    td {
        text-align: center;
        font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
        padding:10px;
        margin:5px;
    }

    tr:nth-child(even) {
        background-color: #F9F9F9;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    a {
        text-decoration: none;
        color: black;
    }