
    table {
        margin: 0 auto;
    }
    th {
        font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
    }

    td {
        font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
        padding:10px;
        margin:5px;
    }

    tr:nth-child(even) {
        background-color: #F9F9F9;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    a {
        text-decoration: none;
    }