    p.center {
        text-align: center;
        font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
        font-weight: lighter;
        font-size: 150%;
        color: black;
        text-align: center;
    }

    img.betaald {
    	padding: 10px;
    }