body {
	background-color: white;
}

@font-face {
	font-family: 'DroidSans';
	src: url('./DroidSans.eot');
	src: local('DroidSans'), url('./DroidSans.woff') format('woff'), url('./DroidSans.ttf') format('truetype');
}

@media all and (min-width: 700px) {
	#page {
		background-color: white;
	   	box-shadow: 0px 0px 28px -12px rgba(0,0,0,0.79);
		margin-left: auto;
		margin-right: auto;
		width: 80%; 
		word-wrap:break-word;
	}

	#header {
		top: 0px;
		right: 0%;
	    left: 0%;
	    position: fixed;
	    background-color: #001351;
	    text-align: center;
	}

	#header ul {
		list-style-type: none;
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 24px;
		font-family: 'DroidSans';
		font-weight: bold;
		color: white;
		text-align: left;
		vertical-align: text-bottom;
	} 

	#header ul ul {
		display: none;
	}

	#header ul li:hover> ul {
		background: white;
		display: block;
		margin: 0;
	}

	#header ul li {
		float: left;
		position: relative;
		margin: 0;
		/*border: 1px solid white;*/
	}

	#header ul li a {
		padding: 2px 5px 2px 5px;
		display: block;
		color: white;
		text-decoration: none;
	}

	#header ul li:hover {
		background: #001351;
	}

	#header ul li:hover a {
		color: white;
	}

	#header ul li:hover>ul {
		margin: 0px;
		padding: 0px;
	}

	#header ul li:hover>ul li {
		float: none;
		display: block;
	}

	#header ul li:hover>ul li a {
		color: #001351;
		font-size: 16px;
	}

	#header ul li:hover>ul li a:hover {
		color: white;
		font-size: 16px;
	}

	#header ul li ul {
		position: absolute;
		border-left: 1px solid #001351;
		border-right: 1px solid #001351;
		border-bottom: 1px solid #001351;
	}

	li.search {
		display: inline;
		padding: 1px 40px 1px 40px;
	}

	img {
		vertical-align: middle;
	} 

	li.logo {
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
	}

	#text {
		background-color: white;
		padding-top: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	#footer {
		text-align: center;
	}

	#footer ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li#footer {
		display: inline-block;
		list-style-type: none;
		margin-left: none; 
	}
}

@media all and (max-width: 700px) {
	#page {
		background-color: black;
	   	box-shadow: 0px 0px 28px -12px rgba(0,0,0,0.79);
		margin-left: auto;
		margin-right: auto;
		width: 100%; 
		word-wrap:break-word;
	}	
}

