body {
	background-color: #F9F9F9;
}
/*
#854442;  roodbruin
#fff4e6;  zand
#3c2f2f;  puur choc
*/

@font-face {
	font-family: 'DroidSans';
	src: url('./DroidSans.eot');
	src: local('DroidSans'), url('./DroidSans.woff') format('woff'), url('./DroidSans.ttf') format('truetype');
}

@media all and (min-width: 700px) {
	#page {
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		width: 60%; 
		word-wrap:break-word;
	}

	#header {
		top: 0px;
		right: 0%;
	    left: 0%;
	    position: fixed;
	    background-color: #854442;
	    text-align: center;
	}

	#header ul {
		list-style-type: none;
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 24px;
		font-family: 'DroidSans';
		font-weight: normal;
		text-align: left;
		vertical-align: text-bottom;
	} 

	#header ul ul {
		display: none;
	}

	#header ul li:hover> ul {
		background: #fff4e6;
		display: block;
		margin: 0;
	}

	#header ul li {
		float: left;
		position: relative;
		margin: 0;
	}

	#header ul li a {
		padding: 2px 5px 2px 5px;
		display: block;
		color: #fff4e6;
		text-decoration: none;
	}

	#header ul li:hover {
		background: #854442;
	}

	#header ul li:hover a {
		color: #3c2f2f;
	}

	#header ul li:hover>ul {
		margin: 0px;
		padding: 0px;
	}

	#header ul li:hover>ul li {
		float: none;
		display: block;
	}

	#header ul li:hover>ul li a {
		color: #854442;
		font-size: 15px;
	}

	#header ul li:hover>ul li a:hover {
		color: white;
		font-size: 15px;
	}

	#header ul li ul {
		position: absolute;
<<<<<<< HEAD
        border: solid;
        border-color: #90B770;
		border-left: 1px solid ;
		border-right: 1px solid #90B770;
		border-bottom: 1px solid #90B770;
=======
		border-left: 1px solid #854442;
		border-right: 1px solid #854442;
		border-bottom: 1px solid #854442;
>>>>>>> 43a95483678a9474488814c0fc2d013e1faca908
	}

	li.search {
		display: inline;
		padding: 1px 40px 1px 40px;
		font-size: 18px;

	}

	img {
		vertical-align: middle;
	} 

	li.logo {
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
	}

	#text {
		background-color: white;
		padding-top: 100px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	#footer {
		text-align: center;
		margin: auto;
	}

	#footer ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li#footer {
		display: inline;
		list-style-type: none;
		margin-left: none; 
	}
}

@media all and (max-width: 700px) {
	#page {
		background-color: black;
		margin-left: auto;
		margin-right: auto;
		width: 100%; 
		word-wrap:break-word;
	}	
}

